#container {
  min-width: 95vw;
  min-height: 100vh;

  width: 100%;
  height: 100%;

  padding: 5vh 5vw;
  margin: auto;

  background-color: var(--gray-dark);

  display: flex;
  align-items: center;

  flex-direction: column;
}

.item_label {
  font-size: 1.5rem;
  line-height: 1.5rem;

  margin-right: 1rem;
}
