.list_item {
  display: flex;
  min-width: 75vw;
  min-height: 8vh;
  flex-direction: column;

  font-size: 1rem;
}

.list_delete {
  margin-left: auto;
  cursor: pointer;
}

.list_header {
  margin-left: auto;
}
